In [3]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn import metrics
from sklearn.metrics import classification_report

In [4]:
titanic = pd.read_csv("https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv")
titanic.columns = ['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','E mbarked']

In [5]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].mean())

In [7]:
genders = {"male": 0, "female": 1}
titanic['Sex'] = titanic['Sex'].map(genders)

In [8]:
X = titanic.drop(columns = ['Survived','PassengerId','Name','Ticket','Cabin','E mbarked'])
y = titanic['Survived']

In [10]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.30, random_state= 50)

In [11]:
clf = DecisionTreeClassifier( min_samples_split= 2)
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [12]:
clf.score(x_train,y_train)

0.985553772070626

In [13]:
clf.score(x_test,y_test)

0.753731343283582

In [15]:
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,32,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter' : ['best', 'random']
    
}

In [16]:
grid_search = GridSearchCV(estimator=clf,
                     param_grid=grid_param,
                     cv=50,
                    n_jobs =-1)

In [17]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=50, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 32),
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'splitter': ['best', 'random']})

In [18]:
best_parameters = grid_search.best_params_
print(best_parameters)

{'criterion': 'gini', 'max_depth': 7, 'min_samples_leaf': 2, 'min_samples_split': 9, 'splitter': 'best'}

In [19]:
grid_search.best_score_

0.8405128205128204

In [20]:
clf = DecisionTreeClassifier(criterion = 'entropy', max_depth =19, min_samples_leaf= 2, min_samples_split= 8, splitter ='random')
clf.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=19, min_samples_leaf=2,
                       min_samples_split=8, splitter='random')

In [21]:
clf.score(x_train,y_train)

0.8764044943820225

In [22]:
clf.score(x_test,y_test)

0.8097014925373134

In [23]:
import pickle
filename = 'finalized_DTmodel.pickle'
pickle.dump(clf, open(filename, 'wb'))